@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.packs {
  @include Flex($direction: column, $gap: $space-0_5);

  &__banner {
    @include Container(medium);
    @include Flex($direction: column, $gap: $space-1);

    background-image: url("https://ableton-production.imgix.net/link/header.jpg?fit=crop&auto=format&fm=jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: $clr-yellow;
  }

  &__header {
    @include Container(medium);
    padding-bottom: 0 !important;
    padding-top: 2rem !important;
  }

  &__filter {
    @include Container(medium);
    padding-bottom: 0 !important;

    > select {
      color: $clr-neutral-800;
      width: 100%;
      outline: none;
      border: none;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $clr-neutral-300;

      background-color: transparent;
    }

    > ul {
      border-bottom: 1px solid $clr-neutral-300;
      padding-bottom: 1rem;
      display: none;

      > li {
        cursor: pointer;
      }
    }
  }

  &__cards {
    @include Container(medium);
    @include Grid($row-gap: $space-3);
    padding-top: 2rem !important;
    .card {
      @include Flex($direction: column, $gap: $space-0_5);

      font-weight: $fw-700;

      .description {
        flex-grow: 1;
        margin-bottom: 1.5rem;
      }

      .img--wrapper {
        position: relative;
        align-self: flex-start;
        max-width: 70%;

        .label {
          position: absolute;
          right: 0;
          background-color: $clr-green;
          padding: 0.3rem 0.5rem;
        }

        img {
          object-fit: cover;
        }
      }

      > div {
        @include Flex($direction: column, $gap: $space-0_25);
      }

      button {
        @include Button;
        align-self: flex-start;
      }
    }
  }

  @include breakpoint {
    &__filter {
      > select {
        display: none;
      }

      > ul {
        @include Flex($gap: $space-1);
      }
    }
    &__cards {
      @include Grid($repeat: 2, $row-gap: $space-3, $col-gap: $space-3);

      .card {
        .img--wrapper {
          position: relative;
          align-self: flex-start;
          max-width: 100%;
        }
      }
    }
  }

  @include md {
    background-position: center right;

    &__cards {
      @include Grid($repeat: 3, $row-gap: $space-3, $col-gap: $space-3);
    }
  }

  @include breakpoint($bp: 81.25em) {
    &__cards {
      @include Grid($repeat: 4, $row-gap: $space-3, $col-gap: $space-4);

      .card {
        .img--wrapper {
          position: relative;
          align-self: flex-start;
          max-width: 80%;
        }
      }
    }
  }
}
