@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.cell {
  @include Container(medium);
  @include Flex($direction: column, $gap: $space-1);

  align-items: flex-start;
  background-position: center;
  background-size: cover;
}
