@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.toast {
  @include Flex($gap: $space-1);
  align-items: center;

  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  font-size: $fs-16;
  font-weight: $fw-600;
  transform: translateX(150%);

  z-index: 1000;
  background-color: $clr-neutral-900;
  pointer-events: none;

  > span {
    color: $clr-neutral-1;
  }

  &.showToast {
    animation: showToast 4s ease-in-out 1;
  }

  @include lg {
    padding: 0.5rem 2rem;
  }
}

@keyframes showToast {
  0% {
    transform: translateX(150%);
  }
  10% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}
