@import "../../../../styles/variables.scss";
@import "../../../../styles/media.scss";

.banner {
  position: relative;
  > div {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    > * {
      font-weight: $fw-700;
    }
  }

  .cell__left {
    background-image: url("https://cdn-resources.ableton.com/resources/uploads/zinnia/thumb_346_GeorgeFitzgerald5.jpg.600x340_q85_crop_upscale.jpg");
    width: 100%;
    padding-bottom: 40%;
    font-size: $fs-20;
    z-index: 1;

    h2 {
      font-size: $fs-24;
    }

    > * {
      color: $clr-yellow;
    }
  }
  .cell__middle {
    background-image: url("https://cdn-resources.ableton.com/resources/uploads/zinnia/thumb_Stefan.jpg.600x340_q85_crop_upscale.jpg");
    width: 90vw;
    font-size: $fs-18;

    padding-bottom: 30%;
    margin: auto 5vw;
    transform: translate(5%, -10%);
    z-index: 2;
    h2 {
      font-size: $fs-20;
    }

    > * {
      color: $clr-purple;
    }
  }
  .cell__right {
    background-image: url("https://cdn-resources.ableton.com/resources/uploads/zinnia/thumb_800x400_NOTE_News.jpg.600x340_q85_crop_upscale.jpg");
    width: 80vw;
    font-size: $fs-18;
    padding-bottom: 20%;
    z-index: 0;
    transform: translate(0, -20%);

    h2 {
      font-size: $fs-20;
    }

    > * {
      color: $clr-green;
    }
  }

  @include breakpoint {
    .cell__left {
      font-size: $fs-24;
      h2 {
        font-size: $fs-30;
      }
    }
    .cell__right,
    .cell__middle {
      font-size: $fs-20;
      h2 {
        font-size: $fs-28;
      }
    }
  }
  @include md {
    height: 100vh;
    > div {
      position: absolute;
    }
    .cell__left {
      top: 0;
      left: 0;
      width: 50vw;
      font-size: $fs-24;
      z-index: 2;
      padding: 3vw 3vw 12vw;
      h2 {
        font-size: $fs-40;
      }
    }
    .cell__right,
    .cell__middle {
      font-size: $fs-20;
      padding: 3vw 3vw 3vw;
      h2 {
        font-size: $fs-28;
      }
    }

    .cell__middle {
      left: 25%;
      top: 50%;
      width: 45%;
      height: 48%;
      z-index: 1;
    }

    .cell__right {
      right: 0;
      top: 15%;
      width: 35%;
      height: 40%;
      z-index: 0;
    }
  }
}
