@import "./variables.scss";
@import "./media.scss";

/* nunito-sans-regular - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("../asset/fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../asset/fonts/nunito-sans-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-600 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(""),
    url("../asset/fonts/nunito-sans-v12-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../asset/fonts/nunito-sans-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-700 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("../asset/fonts/nunito-sans-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../asset/fonts/nunito-sans-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-900 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(""),
    url("../asset/fonts/nunito-sans-v12-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../asset/fonts/nunito-sans-v12-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: $fs-16;
  font-weight: $fw-400;
  background-color: $clr-neutral-100;
  color: $clr-neutral-900;
}

.xh {
  font-size: $fs-28;
  font-weight: $fw-700;
}

h1,
.h1 {
  font-size: $fs-34;
  font-weight: $fw-600;
}

h2,
.h2 {
  font-size: $fs-20;
  font-weight: $fw-600;
}

h3,
.h3 {
  font-size: $fs-18;
  font-weight: $fw-600;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-size: $fs-14;
}

@include md {
  .xh {
    font-size: $fs-34;
    font-weight: $fw-700;
  }

  h2,
  .h2 {
    font-size: $fs-24;
  }

  h3,
  .h3 {
    font-size: $fs-20;
  }
}

@include lg {
  .xh {
    font-size: $fs-61;
  }

  h1,
  .h1 {
    font-size: $fs-40;
    font-weight: $fw-600;
  }

  h2,
  .h2 {
    font-size: $fs-28;
  }

  h3,
  .h3 {
    font-size: $fs-24;
  }

  h4,
  .h4 {
    font-size: $fs-18;
  }
}

// GENERAL: FONT_WEIGHT-------------------------

.fw--700 {
  font-weight: $fw-700;
}
.fw--600 {
  font-weight: $fw-600;
}

// GENERAL: COLOR-------------------------

.clr--primary {
  color: $clr-primary;
}

.clr--secondary {
  color: $clr-secondary;
}

.clr--cyan {
  color: $clr-cyan;
}

.clr--neutral {
  color: $clr-neutral-600;
}

// GENERAL: TEXT-------------------------

.text--underline {
  text-decoration: underline;
}

.text--lineThrough {
  text-decoration: line-through;
}

// GENERAL: DISPLAY-------------------------
.display--inline {
  display: inline-flex;
  margin-inline-start: $space-0_5;
}
