@import "./media.scss";
@import "./variables.scss";

@mixin Container($type) {
  @if $type == "small" {
    padding: 0.5rem 2rem;
    // @include md {
    //   border: 2px solid green;
    // }
  } @else if $type == "section" {
    padding: 3rem 4rem;
    border: 2px solid blue;
  }
}

@mixin Flex($direction: row, $gap: $space-2) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
} ;
