@import "./media.scss";
@import "./variables.scss";

@mixin Container($type) {
  @if $type == "small" {
    padding: 0.5rem 1.75rem;
    // @include md {
    //   border: 2px solid green;
    // }
  } @else if $type == "big" {
    padding: 3.5rem 2rem;
    @include lg {
      padding: 4rem 8rem;
    }
  }
}

@mixin Flex($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;

  @if $direction == row {
    > *:not(:last-child) {
      margin-inline-end: $gap;
      margin-block-end: 0;
    }
  } @else {
    > *:not(:last-child) {
      margin-block-end: $gap;
      margin-inline-end: 0;
    }
  }
}

@mixin Grid($repeat: 1, $row-gap: 0, $col-gap: 0) {
  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
  gap: $row-gap $col-gap;
}

@mixin Button(
  $fs: $fs-100,
  $fw: $fw-600,
  $clr: $clr-neutral-1,
  $bg: $clr-primary
) {
  background-color: $bg;
  color: $clr;
  font-size: $fs;
  font-weight: $fw;
  padding: 0.65rem 1rem;
  // padding: 0.65rem 2rem;
}

@mixin Selector {
  position: relative;
  padding: 0.45rem 2rem 0.45rem 0.4rem;
  background-color: $clr-neutral-100;
  color: $clr-neutral-900;

  &::after {
    display: block;
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: $clr-neutral-600;
    border-radius: 2px;
    right: 15px;
    bottom: 13px;
  }

  .select--options {
    overflow: auto;
    max-height: 90px;
    position: absolute;
    top: 105%;
    left: 0;
    color: inherit;
    z-index: 1;
    background-color: $clr-neutral-100;
    width: 100%;
    padding: 0.5rem 0;
  }

  .select--options > li {
    cursor: pointer;
    padding: 0.125rem 1rem;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  .select--options > li:hover {
    background-color: $clr-neutral-300;
  }

  > select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;

    outline: none;
    border: none;
    background-color: transparent;
    padding: 0.3rem;
    color: inherit;
  }
}
