$clr-neutral-1: #ffffff;
$clr-neutral-100: #f1f3f5;
$clr-neutral-200: #e9ecef;
$clr-neutral-300: #dee2e6;
$clr-neutral-400: #ced4da;
$clr-neutral-500: #adb5bd;
$clr-neutral-600: #868e96;
$clr-neutral-700: #495057;
$clr-neutral-800: #343a40;
$clr-neutral-900: #212529;
$clr-neutral-0: #000000;

$clr-primary: #0000ff;
$clr-secondary: #ff764d;
$clr-yellow: #fbfa61;
$clr-cyan: #3bc9db;
$clr-green: #00ffaf;
$clr-purple: #da77f2;

/*-----------FONT FAMILY----------*/
$ff: "Nunito Sans", sans-serif;

/*-----------FONT SIZE----------*/

$fs-12: 0.75rem; /*12px*/
$fs-14: 0.875rem; /*14px*/
$fs-16: 1rem; /*16px*/
$fs-20: 1.25rem; /*20px*/
$fs-24: 1.5rem; /*24*/
$fs-28: 1.75rem; /*28px*/
$fs-34: 2.125rem; /*34px*/
$fs-40: 2.5rem; /*40px*/
$fs-46: 2.875rem; /*46px*/
$fs-54: 3.375rem; /*54px*/
$fs-61: 3.81rem; /*61px*/

/*-----------FONT WEIGHT----------*/
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

/*-----------BORDER----------*/
$border: 1rem;

/*-----------SPACE----------*/
$space-0_25: 0.25rem;
$space-0_5: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

/*-----------Break Point----------*/
// 1280 + 1024
// 1124 + 1024 + 768
// 1280 + 1124 + 768

$breakpoint: (
  "sm": 30em,
  //480px
  "md": 48em,
  //768px
  "lg": 64em,
  //1024px
  "xl": 80em,
  //1280px
);
