$clr-neutral-0: #ffffff;
$clr-neutral-100: #f1f3f5;
$clr-neutral-200: #e9ecef;
$clr-neutral-300: #dee2e6;
$clr-neutral-400: #ced4da;
$clr-neutral-500: #adb5bd;
$clr-neutral-600: #868e96;
$clr-neutral-700: #495057;
$clr-neutral-800: #343a40;
$clr-neutral-900: #212529;
$clr-neutral-1: #000000;

$clr-primary: #0000ff;
$clr-secondary: #ff764d;
$clr-yellow: #fbfa61;
$clr-cyan: #3bc9db;
$clr-green: #00ffaf;
$clr-pruple: #d5b3ff;

/*-----------FONT FAMILY----------*/
$ff: "Nunito Sans", sans-serif;

/*-----------FONT SIZE----------*/

$fs-100: 0.875rem; /*14px*/
$fs-200: 1rem; /*16px*/
$fs-300: 1.25rem; /*20px*/
$fs-400: 1.75rem; /*28*/
$fs-500: 2.125rem; /*34px*/
$fs-600: 2.5; /*40px*/
$fs-700: 3rem; /*48px*/
$fs-800: 3.5rem; /*56px*/
$fs-900: 3.75rem; /*60px*/

/*-----------FONT WEIGHT----------*/
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

/*-----------BORDER----------*/
$border: 1rem;

/*-----------Break Point----------*/
// 1280 + 1024
// 1124 + 1024 + 768
// 1280 + 1124 + 768
