@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.home {
  @include Container(medium);
  @include Flex($direction: column, $gap: $space-1);

  background-image: url(../../asset/images/home_banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  color: $clr-yellow;
  margin-bottom: 3rem;

  h1 {
    @include Flex($direction: column, $gap: $space-0_5);
  }

  @include lg {
    height: 800px;
    margin-bottom: 4rem;
  }
}
