@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.shop {
  @include Grid;

  border-bottom: 1px solid $clr-neutral-200;

  .card {
    @include Container(medium);

    @include Flex($direction: column, $gap: $space-1);
    background-color: $clr-neutral-1;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    height: 500px;

    &__button {
      @include Button;
    }

    &.live {
      background-image: url("https://ableton-production.imgix.net/shop/live--square.jpg?fit=crop&auto=format&fm=jpg");
    }

    &.push {
      background-image: url("https://ableton-production.imgix.net/shop/push--square.jpg?fit=crop&auto=format&fm=jpg");
      color: $clr-neutral-1;
    }

    &.student {
      height: max-content;
      background-color: $clr-purple;
    }
    &.max-for-live {
      background-image: url("https://ableton-production.imgix.net/shop/max-for-live--square.jpg?fit=crop&auto=format&fm=jpg");
      color: $clr-neutral-1;
    }
    &.making-music {
      background-color: $clr-neutral-100;
    }
    &.packs {
      background-color: $clr-green;
      height: 250px;
    }
    &.merchandise {
      background-color: $clr-cyan;
      height: 250px;
    }
    &.payment-methods {
      height: max-content;
      .payment--wrapper {
        @include Grid($repeat: 5);

        img {
          width: 50px;
          height: 50px;
          border: 1px solid $clr-neutral-200;
        }
      }
    }
    &.security,
    &.question {
      height: max-content;
    }
  }

  @include md {
    grid-template-columns: repeat(2, 1fr);

    .card {
      height: 550px;

      &.student {
        grid-column: span 2;
      }

      &.payment-methods {
        .payment--wrapper {
          @include Grid($repeat: 6);

          img {
            width: 70px;
            height: 65px;
          }
        }
      }
      &.security,
      &.question {
        height: max-content;
      }
    }
  }
}
