@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.cart {
  cursor: pointer;
  &__responsive {
    .icon--small {
      display: block;
    }
    .icon--large {
      display: none;
    }
  }

  @include lg {
    display: flex;

    &__responsive {
      .icon--small {
        display: none;
      }
      .icon--large {
        display: block;
      }
    }
  }
}
