@import "../../styles/utilities.scss";
@import "../../styles/media.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $clr-neutral-1;
  transition: 0.3s ease-in-out;
  transition-property: top, background-color, color;

  &--bg {
    background-color: $clr-primary;
    color: $clr-neutral-1;

    .logo {
      svg {
        fill: $clr-neutral-1;
      }
    }
  }

  &.header--top {
    top: -250px;
  }

  .list {
    // flex-grow: 1;
    @include Flex($direction: column, $gap: $space-2);

    li {
      &.disabled {
        pointer-events: none;
        font-size: $fs-16;
        color: $clr-neutral-400;
      }

      > a {
        display: block;
        flex-grow: 1;

        &.active {
          font-weight: $fw-700;
          color: $clr-neutral-900;
        }
      }
    }
  }

  // PRIMARY -----------------------------
  .primary {
    @include Flex(row, $gap: $space-2);
    @include Container(small);

    position: relative;
    align-items: center;
    z-index: 1;
    font-weight: $fw-600;
    font-size: $fs-18;

    &--border {
      border-bottom: 1px solid $clr-neutral-400;
    }

    &__auth {
      @include Flex(row, $gap: $space-1);
      align-items: center;

      font-size: $fs-14;
      cursor: pointer;
    }

    &__menu {
      @include Flex($gap: $space-0_5);

      align-items: center;
      flex-grow: 1;
      cursor: pointer;

      > svg {
        transition: all 0.3s ease-in-out;

        &.rotate {
          transform: rotate(-180deg);
        }
      }
    }

    &__navigation {
      @include Container(small);
      @include Flex($direction: column, $gap: $space-2);

      position: fixed;
      top: 4rem;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $clr-primary;
      color: $clr-neutral-1;
      z-index: -1;

      &.navigation--shown {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
      }

      &.navigation--hid {
        transform: translateY(-150%);
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  // SECONDARY-----------------------------

  .secondary {
    @include Container(small);

    overflow: auto;
    font-size: $fs-16;
    font-weight: $fw-400;
    .list {
      @include Flex($direction: row, $gap: $space-2);

      li > a {
        font-size: $fs-14;
        white-space: nowrap;
        &.active {
          font-size: $fs-16;

          color: $clr-secondary;
        }
      }
    }
  }

  // MEDIA QUERY -----------------------------------
  @include lg {
    &--bg {
      color: $clr-neutral-0;
      background-color: $clr-neutral-1;

      .logo {
        svg {
          fill: $clr-neutral-0;
        }
      }
    }

    .list {
      flex-grow: 1;
    }
    .primary {
      @include Flex(row, $gap: $space-2);

      align-self: stretch;
      align-items: center;
      font-weight: $fw-700;

      &__menu {
        display: none;
      }

      &__navigation {
        @include Flex($direction: row, $gap: $space-2);
        flex-grow: 1;

        padding-right: 0;
        padding-left: 0;
        position: unset;
        background-color: $clr-neutral-1;
        color: $clr-neutral-900;

        &.navigation--hid {
          transform: translateY(0);
        }

        .list {
          @include Flex(row, $gap: $space-2);
          align-items: center;

          flex-grow: 1;

          li > a {
            &.active {
              color: $clr-secondary;
            }
          }
        }
      }
    }
  }
}
