@import "../../styles/variables.scss";
@import "../../styles/utilities.scss";

.header {
  transition: all 0.3s ease-in-out;
  z-index: 2;

  &--blue {
    background-color: $clr-primary;
    color: white;
    fill: white;
  }

  // ------------------------PRIMARY
  .primary {
    @include Flex;

    @include Container("small");

    position: relative;
    align-items: center;
    z-index: 1;

    &--border {
      border-bottom: 1px solid $clr-neutral-400;
    }

    .menu {
      @include Flex($gap: $space-0_5);

      align-items: center;
      font-weight: $fw-600;
      font-size: $fs-300;
      cursor: pointer;

      > svg {
        transition: all 0.3s ease-in-out;

        &.rotate {
          transform: rotate(-180deg);
        }
      }
    }

    .navigation {
      z-index: -1;
      &.navigation--small-screen {
        @include Container("small");

        position: fixed;
        top: 3.7rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $clr-primary;
        color: $clr-neutral-1;
        font-weight: $fw-300;
        font-size: $fs-400;
      }

      &--shown {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
      }

      &--hid {
        transform: translateY(-150%);

        transition: transform 0.5s ease-in-out;
      }

      &__lists {
        @include Flex($direction: column);

        li > a {
          &.active {
            font-weight: $fw-600;
            color: $clr-neutral-0;
          }
        }
      }
    }
  }

  .secondary {
    @include Container("small");
    overflow: auto;

    &__lists {
      @include Flex;
      align-items: center;
      font-size: $fs-100;
      white-space: nowrap;

      > li {
        > a {
          line-height: 3;
          font-weight: $fw-500;

          &.active {
            font-weight: $fw-600;
            color: $clr-secondary;
          }
        }
      }
    }
  }
}
